*{
    /* CSS Reset */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
   
    
}

body{
    font-family: sans-serif;
    background-color:var(--background-color) ;
    color: white;
text-transform: capitalize;
z-index: -1;
/* overflow-x:visible; */
}